@import url('https://fonts.cdnfonts.com/css/akira-expanded');

/* Container da página de login */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Akira Expanded', sans-serif;
}

/* Estilização da logo */
.login-logo {
  height: 300px; /* A logo ocupará toda a altura disponível */
  width:auto; /* Mantém a proporção da imagem */
  max-width: 40%; /* A logo terá no máximo 40% da largura da tela */
  object-fit: cover; /* Faz a imagem cobrir a área sem distorção */
  order: 1; /* Coloca a logo à esquerda */
  justify-content: space-between;
}

/* Estilização do formulário */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px; /* Largura da caixa de login */
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  order: 2; /* Coloca a box à direita */
}

.login-container h2 {
  margin-bottom: 20px;
  color: black;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%; /* A largura é agora de 100% da .login-container */
}

.login-container label {
  font-family: 'Akira Expanded', sans-serif;
  margin-bottom: 5px;
  color: black;
}

.login-container input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Estilização do botão */
.login-container button {
  font-family: 'Akira Expanded', sans-serif;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: -10px;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #700202;
}

.login-container button_sign_in {
  font-family: 'Akira Expanded', sans-serif;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.login-container button_sign_in :hover {
  background-color: #700202;
}
