@import url('https://fonts.cdnfonts.com/css/akira-expanded');

/* User.css */
.user-profile {
    font-family: 'Akira Expanded', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.6);
    position: relative;
}

/* Logo e foto do usuário */
.user-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00050fce;
    margin-bottom: 30px;
}

/* Detalhes do usuário */
.user-details {
    text-align: center;
    margin-top: 30px;
}

.user-name {
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-top: 15px;
}

.ubi-id-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 15px; /* Adiciona espaçamento entre ID e logo */
}

.ubi-id {
    font-size: 20px;
    color: white;
}

.ubi-logo {
    width: 60px;
    height: auto;
}

.user-valor {
    font-size: 22px;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 10px;
}

/* Botões */
.button-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
}

.user-button, .edit-button, .deactivate-button {
    font-family: 'Akira Expanded', sans-serif;
    padding: 15px 30px;
    font-size: 18px;
    background-color: rgb(180, 0, 0);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.user-button:hover, .edit-button:hover, .deactivate-button:hover {
    background-color: rgb(150, 0, 0);
    transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 768px) {
    .user-profile {
        padding: 30px;
        width: 90%;
        height: auto;
    }

    .button-group {
        flex-direction: column;
        align-items: center;
    }

    .user-button, .edit-button, .deactivate-button {
        width: 100%;
        margin-bottom: 15px;
    }

    .ubi-logo {
        width: 90px;
    }

    .user-photo {
        width: 160px;
        height: 160px;
    }
}