@import url('https://fonts.cdnfonts.com/css/akira-expanded');

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1a1a1a;
}

.nav-logo {
    width: 100px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 10px; /* Define o espaçamento entre os itens */
}

.nav-link {
    font-family: 'Akira Expanded', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.3s;
}

.nav-link-friends {
    font-family: 'Akira Expanded', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    transition: 0.3s;
    margin-right: -100px; /* Reduz a distância entre Ver Amigos e User Info */
}

.nav-link:hover {
    font-size: 20px;
    transition: 0.3s;
    padding: 8px;
    color: rgb(180, 0, 0);
}

/* Estilização da área de saldo do usuário */
.user-info {
    display: flex;
    align-items: center;
    gap: 5px; /* Reduzi o gap para diminuir a distância */
    background-color: #222;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    font-family: 'Akira Expanded', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.user-info:hover {
    background-color: rgb(180, 0, 0);
    color: white;
}

/* Ícone de perfil */
.profile-icon {
    font-size: 40px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.profile-icon:hover {
    font-size: 50px;
    transition: 0.3s;
    padding: 5px;
    color: rgb(255, 255, 255);
}