@import url('https://fonts.cdnfonts.com/css/akira-expanded');

/* Estilizando a tela de criação de time */
.create-team-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
  }
  
  /* Container principal do formulário */
  .create-team-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.1);
    width: 400px;
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.6);
  }
  
  /* Título */
  .create-team-container h2 {
    font-family: 'Akira Expanded', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
  }
  
  /* Estilo dos labels */
  .create-team-container label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
    display: block;
  }
  
  /* Estilo dos inputs de texto */
  .create-team-container input[type="text"],
  .create-team-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  /* Estilo da área de texto (descrição) */
  .create-team-container textarea {
    resize: vertical;
  }
  
  /* Botão Criar Time */
  .submit-btn {
    background-color: rgb(180, 0, 0);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: rgb(150, 0, 0);
    transform: scale(1.1);
  }
  
  .create-team-container form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }